.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  color: white;
  font-weight: bold;
}

.navbar button {
  background: #fff;
  color: #4facfe;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background: #e6f7ff;
}
.logout-btn {
  padding: 6px 14px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.logout-btn:hover {
  background-color: #ff7875;
}
